{% if object.images is not empty %}
    <div class="card-header z-3">
        <div id="carouselArticle" class="carousel slide" data-bs-ride="carousel" style="height: 300px;">
            <div class="carousel-indicators">
                {% for image in object.images %}
                    <button type="button" data-bs-target="#carouselArticle" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in object.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="position-relative">
                            <img class="d-block w-100 img-fluid rounded-3" style="height: 300px; object-fit: cover;" src="{{ vich_uploader_asset(image) }}" alt="">
                            <a href="{{ path("delete_product_image", {id: image.id}) }}" class="btn btn-danger btn-sm position-absolute z-3 top-0 start-0 m-2">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticle" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselArticle" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% else %}
{% endif %}