{% extends 'base.html.twig' %}

{% block title %}Ajouter Image{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card mb-5 bg-border">
                    <div class="card-header bg-insta text-light text-center">
                        <h3 class="mb-0">Ajouter une image</h3>
                    </div>
                    <div class="card-body">
                        {% include 'image/image_or_not_image.html.twig' with {object:product} %}
                        <h3 class="card-title text-center">Ajouter une image</h3>
                        <div class="card-body">
                            {{ form_start(formImage, {attr:{action:path('add_product_image', {id:product.id})}}) }}
                            {{ form_row(formImage.imageFile) }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                            {{ form_end(formImage) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{{ path('app_show',{id: product.id}) }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}